---
import { routes, strapi } from "../utils/constants";
import Layout from "../layouts/Layout.astro";
import Product from "../components/Product.astro";

let products = [];
let fetchError = null;

try {
  // Fetch products from Strapi API
  const response = await fetch(strapi.BASE_URL + "/api/products?populate=*", {method: "get"});
  const res = await response.json();

  if (response.ok) {
  // Check if any products are returned
  products = res.data.map((item: any) => {
    return {
    pID: item.attributes.pID,
    title: item.attributes.title,
    image: strapi.BASE_URL + item.attributes.image.data[0].attributes.url ?? "https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg",  // Fallback in case image is missing
    price: item.attributes.price
  }});
} else {
  throw new Error("Failed to fetch products.");
}
} catch (error: any) {
  fetchError = error.message || "An unexpected error occurred.";
}
---

<Layout title="Products Catalog" navbar>
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="py-5">
    <!-- Error Message -->
    {fetchError ? (
      <div class="text-red-600 text-center py-4">Error: {fetchError}</div>
    ) : (
      <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
        {products.length > 0 ? (
          products.map((product:any) => <Product {...product} />)
        ) : (
          <div class="text-gray-600 dark:text-gray-400 text-center w-full py-4">
            No products listed
          </div>
        )}
      </div>
    )}
    </div>
  </div>
</Layout>
